.container{
    display: flex;
    justify-content: center;
    width: 85%;
    background-color: rgb(222, 236, 236);
    color: black;
}

@media( max-width:770px ){
    .container{
        width: 100%;
        
    }
}