.container{
    display: flex;
    flex-direction: column;
    /* padding: 1.5%; */
    border-radius: 7px;
    align-items: center;
    margin: 50px 0;
    background-color: aquamarine;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    color:rgb(255, 255, 255);
    background-color: rgb(41, 40, 40);
   
    
}
.dateheader{
    margin-top: -2.5%;
    padding: -40em;
}
.card{
    margin: 0 2% !important;
    width: 190px;
    display: flex;
    flex-direction: row;
    align-items: center;
   
  
}
.infected{
     /* border-top: 10px solid rgba(255, 0, 255, 1);  */
}
.recovered{
    /* border-top: 10px solid rgba(0, 255, 34, 1);  */
}
.deaths{
    /* border-top: 10px solid rgba(255,0,0,1);  */

}
.cardSize {
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: 250px;
  }