.container{
    display: flex;
    flex-direction: column;
    
    align-content: center;
    /* padding: 1.5%; */
    border-radius: 7px;
    align-items: center;
    margin: 50px 0;
    color: black;
    background-color: aquamarine;
    width: 600px;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(40, 40, 40);
    width: 100%;
    color: whitesmoke;
    font-size: 2em;
    
}

.box{
    
    display: flex;
    justify-content: space-evenly;
}

.col{
    /* flex-grow: 1; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    /* width: 180px; */
   
}
h6{
    font-size:16px;
    color:rgb(40, 40, 40);
    display: inline-block;
}
.inTitle{
    flex-grow: 1;
    font-size:1.3em;
    width: max-content;
    color:rgb(60, 60, 60);
    display: inline-block;
}
.date{
    font-size: .5em;
    margin-bottom: .2em;
}
.values{
    font-size: 1.5em;
}
.mortality{
    font-size: .9em;
    padding-bottom: 1%;

}

@media( max-width:770px ){
    .container{
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin: 3.5%;
        
    }
    .box{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 5%;
        align-items: center;
    }
    .col{
        flex: 1;
        margin-top: 10%;
        width: 100%;
        padding: 2%;
        align-items: center;
    }
    .inTitle{
        flex-grow: 1;
        font-size:4.3vw;
        width: max-content;
        color:rgb(60, 60, 60);
        display: inline-block;
    }
    
}