.container{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 8%;
}
.logos{
    
    text-align: center;
}
.ghimage{
    width: 4%;
   
}
.ppimage{
    width: 3.8%;
    
}
.text{
    font-size: .7em;
}
.textS{
    font-size: .5em;
}

@media( max-width:770px ){
    .container{
        width: fit-content;
        margin-top: 30%;
    }
    .ghimage{
        width: 7%;
        
    }
    .ppimage{
        width: 6.5%;
    }
}